/* Style */
.container {
    margin: auto 25rem;
}
h1, h3 {
    color: rebeccapurple;
    font-family: 'Open Sans', sans-serif;  
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #696969;
}
a {
    text-decoration: none;
    color: green
}
a:hover {
    color: red;
    text-decoration: underline;
}

.ques {
    font-weight: bold;
}